# BFF / API Gateway — Endpoint del Backend for Frontend en AWS
VITE_BFF_URL=https://11bwhgfogd.execute-api.us-east-1.amazonaws.com/api/v1

# Cognito Hosted UI — User Pool Residentes
VITE_COGNITO_DOMAIN=convivo-residentes-240233792563.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=36e92f2b84j7q6p483rve8v1n4
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/auth/callback
